<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Angular Utilities example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h2>Examples</h2>

  <ion-button class="retrieveExampleButton" fill="outline" shape="round" (click)="retrieveExamples()">
    <span class="f-18 f-uppercase">Retrieve examples</span>
  </ion-button>


  <ws-data class="examplesContainer" [options]="wsDataOptions" (retry)="retrieveExamples()">

    <!-- <div customSpinner>CUSTOM SPINNER</div> -->
    <!-- <div customError> CUSTOM WS ERROR HTML SECTION </div> -->

    <div dataContent>
      <ng-container *ngIf="(exampleArray$ | async) as exampleArray">
        <ion-list class="exampleList impleme-list" *ngIf="exampleArray.length">
          <ion-item *ngFor="let example of exampleArray" (click)="openDetail(example)">
            <ion-label>
              <div class="exampleInfo f-20 f-weight-600">{{example.data_1}}</div>
              <div class="exampleInfo f-20">{{example.data_2}}</div>
              <div class="exampleInfo f-18">{{example.date | date: 'dd/MM/yyyy'}}</div>
            </ion-label>
          </ion-item>
        </ion-list>

        <div class="error-container side-padding" *ngIf="!exampleArray.length">
          <span class="f-18">Data not found</span>
        </div>
      </ng-container>
    </div>
  </ws-data>

  <h2 style="margin-top: 30px !important">Tests</h2>

  <debounce-button class="retrieveTestButton" fill="outline" shape="round" debounce="400" (debounceClick)="retrieveTests()">
    <span class="f-18 f-uppercase">Retrieve tests</span>
  </debounce-button>

  <ws-data-list [options]="wsDataListOptions" (retry)="retrieveTests()">

    <!-- <div customSpinner>CUSTOM SPINNER</div> -->
    <!-- <div customError> CUSTOM WS ERROR HTML SECTION </div> -->
    <!-- <div customEmptyListError> CUSTOM EMPTY LIST HTML SECTION </div> -->

  </ws-data-list>
  <ng-template let-item #itemTemplate>
    <div>
      <div class="f-20 f-weight-600">{{item.title}}</div>
      <div class="f-18">{{item.date | date: 'dd/MM/yyyy'}}</div>
    </div>
  </ng-template>  
</ion-content>
