.retrieveExampleButton {
    display: block;
    float: none;
    width: 240px !important;
    height: 40px !important;
    margin: 20px auto !important;
}

.retrieveTestButton {
    --width: 240px;
    height: 40px !important;
}