.retrieveExampleButton {
    display: block;
    float: none;
    width: 240px !important;
    height: 40px !important;
    margin: 20px auto !important;
}

.examplesContainer {
    --spinner-element-color: #048eab;
}

.retrieveTestButton {
    display: block;
    float: none;
    width: 240px !important;
    --width: 240px;
    --height: 40px;
    margin: 20px auto !important;
}